body,
html {
  padding: 0;
  margin: 0;
}


@font-face {
  font-family: 'Gelion';
  src: local('Gelion'),
       url('./assets/fonts/Gelion Medium.woff format') format('woff')
       url('./assets/fonts/Gelion Medium Italic.woff') format('woff');
}